
/*======================================
Google Fonts
======================================*/

@import url('https://fonts.googleapis.com/css?family=Cabin:400,500');



/*======================================
General Styles
======================================*/

body, html {
	background: #f1f2f6;
	color: #4b4b4b;
	font-family: 'Cabin', sans-serif;
	height: 100vh;
	min-height: 100%;
}

h1 {
	font-size: 2em;
	font-weight: 500;
	margin: 5px 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 36px);
}

footer {
	margin-top: 15px;
	text-align: center;
}



/*======================================
Form/Button Styles
======================================*/

input[type=search] {
	background: #fff;
	border: 1px solid #dfe4ea;
	border-radius: 5px;
	font-size: 1em;
	margin: 25px 0;
	padding: 5px;
	width: 250px;
}

/*input[type=button] {
	border: none;
	border-radius: 35px;
	background: #45aaf2;
	color: #f1f2f6;
	font-size: 1em;
	margin: 0 5px;
	padding: 10px 15px;
}*/

input[type=image] {
	background: #45aaf2;
	border: none;
	border-radius: 5px;
	color: #f1f2f6;
	margin: 0 15px;
	padding: 8px;
    height: 30px;
    width: 30px;
}

/*input[type=button]:hover {
	cursor: pointer;
	background: #0984e3;
	transition: 0.1s ease;
}*/

input[type=image]:hover {
	cursor: pointer;
	background: #0984e3;
	transition: 0.1s ease;
}

.button-container {
	display: flex;
	margin-top: 10px;
}




/*======================================
Search Results Styles
======================================*/

.hide {
	display: none;
}

.results {
	margin-top: 15px;
	width: 90%;
}

/*.results li {
	background: #dfe4ea;
	margin: 10px 0;
	padding: 10px;
}

.results li:hover {
	border-left: 8px solid #45aaf2;
	transition: 0.1s ease;
}

.results li a {
	color: #45aaf2;
	font-size: 1.25em;
	font-weight: 500;
	text-decoration: none;
}

.results li a:hover {
	color: #0984e3;
	cursor: pointer;
	transition: 0.1s ease;
}

.results li p {
	font-weight: 400;
	line-height: 1.2em;
	margin: 5px 0 10px 0;
}*/

.results a {
	background: #dfe4ea;
	display: block;
	margin: 10px 0;
	padding: 10px;
	text-decoration: none;
}

.results a:hover {
	border-left: 8px solid #45aaf2;
	transition: 0.1s ease;
}

.results h2 {
	color: #45aaf2;
	font-size: 1.25em;
	font-weight: 500;
	text-decoration: none;
}

.results p {
	color: #4b4b4b;
	font-weight: 400;
	line-height: 1.2em;
	margin: 5px 0 10px 0;
	text-decoration: none;
}



/*======================================
Responsive Styles
======================================*/

@media screen and (min-width: 800px) {
	.results {
		width: 60%;
	}
}











